<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IntervalInMinute" value=""/>
    <add key="Token" value=""/>
    <add key="ProxyAddress" value="0"/> <!--0, 1, 2, 3-->
    <add key="SenderName" value="Test"/> <!--ZMIANA NAZWY NIE JEST DOWZWOLONA W SMSAPI DLA DARMOWEGO KONTA-->
    <add key="SmsReceivers" value=""/> <!--MOŻNA PODAĆ KILKA NR.: (NP. 123456789, 987654321)-->
  </appSettings>
</configuration>